* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  cursor: pointer;
}

:root {
  --color-white: #fff;
  --color-light: #7f8cff;
  --color-light-dark: #6070ff;
  --color-dark: #172b4d;
  --color-dark-variant: #344563;
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f0f0f0;
  line-height: 1.7;
}

p {
  transition: var(--transition);
}

p:hover {
  transform: translate(3px);
}

/* -------------------------------Styling the Nav Bar-------------------------------- */
.parent-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  color: var(--color-light-dark);
  background: var(--color-white);
  font-weight: 700;
  font-size: 18px;
}

.flex-item-1 {
  color: #6070ff;
  width: 50%;
  padding: 12px 24px;
}

.header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 12px;
  width: 100%;
}

.desktop-nav-items {
  display: none;
}

.header nav a {
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.flex-item-2 {
  width: 50%;
}

/* -- -------------------------------Styling the Home Page---------------------------------- -- */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 114px;
}

.main-page {
  background: url('images/background-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 80px;
}

.home-page-details {
  margin: 0 24px;
}

h1 {
  padding: 114px 0 12px;
}

/* ----universal styling---- */
h1,
.about-myself-heading {
  font-size: 40px;
  font-weight: 700px;
  line-height: 52px;
  color: var(--color-dark);
}

.about-me-text,
.about-myself-text {
  font-weight: 400;
  color: var(--color-dark-variant);
}

.social-links-heading {
  color: var(--color-light);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.about-me-text {
  padding-bottom: 12px;
}

/* Styling the social media icons */
.social-links h2 {
  margin-bottom: 12px;
}

.social-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.social-links {
  padding-bottom: 114px;
}

section ul .linked-in,
.message,
.cat-icon,
.thumbs-up,
.twitter {
  width: 30px;
  height: 30px;
}

/* -- -------------------------------Styling the Works Section---------------------------------- -- */
.work-section {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 88px;
}

.grid-item-1 {
  margin-top: 114px;
}

.grid-item {
  background-color: var(--color-white);
  margin: 0 24px;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
}

.works-image {
  width: 100%;
  transition: var(--transition);
}

.works-image:hover {
  transform: scale(1.05);
}

.desktop-work-img {
  display: none;
}

.works-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.work-title {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: var(--color-dark);
}

.card-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.h3-common-styles {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.work-client {
  color: var(--color-dark-variant);
}

.work-role,
.work-year {
  color: #7a869a;
}

.work-description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-dark-variant);
}

.works-btn {
  float: left;
  margin-right: 8px;
  padding: 4px 12px;
  background: #ebebff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: var(--color-light-dark);
}

.works-btn:hover {
  color: #fff;
  background-color: #6070ff;
  transition: var(--transition);
}

.works-btn:active {
  color: #fff;
  background-color: #1d1d9e;
}

.see-project-btn {
  padding: 12px 16px 12px 16px;
  border: 1px solid var(--color-light-dark);
  border-radius: 8px;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 12px;
}

.see-project-btn:hover {
  color: #fff;
  background-color: #6070ff;
  transition: var(--transition);
}

.see-project-btn:active {
  color: #fff;
  background-color: #1d1d9e;
}

/* -- -------------------------------Styling The About Myself Section---------------------------------- -- */
.about-myself {
  background: var(--color-white);
  border-top-right-radius: 80px;
}

.about-myself-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding: 114px 24px 0 24px;
}

.about-myself-details {
  padding-left: 24px;
}

.flex-item {
  margin-bottom: 12px;
}

.languages-heading {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.language-name {
  color: #253858;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.languages-container {
  min-width: 375px;
  padding-bottom: 114px;
}

.lang-heading {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.lang-name {
  font-size: 15px;
  font-weight: 500;
  color: #253858;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 24px;
}

.list-item-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
}

.set-border {
  border-top: 1px solid #dedef7;
  border-bottom: 1px solid #dedef7;
}

.margin-reset {
  margin-bottom: 0;
}

.languages-wraper {
  padding: 12px;
}

/* -- -------------------------------Styling The Contact Page Section---------------------------------- -- */

.contact-page {
  min-width: 100%;
  border-top-left-radius: 80px;
  background-image: url(images/Contact-me-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
}

.contact-flex-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 103px 24px 45px 24px;
}

.contact-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}

.contact-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  padding: 12px;
}

.contact-form li input {
  width: 100%;
  height: 48px;
  margin-bottom: 12px;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.contact-form li textarea {
  width: 100%;
  height: 170px;
  margin-bottom: 4px;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.contact-btn-hover:hover {
  color: #fff;
  background-color: var(--color-dark);
  transition: var(--transition);
}

.contact-btn-hover:active {
  color: #fff;
  background-color: var(--color-dark-variant);
  transition: var(--transition);
}

/* -- -------------------------------Media Quries Desktop Version---------------------------------- -- */

@media all and (min-width: 1024px) {
  /* -- ------------------The Nav Bar-------------------- */

  .header {
    padding: 16px 142px;
  }

  .desktop-nav-items {
    display: block;
  }

  .mobile-nav-items {
    display: none;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav-link {
    color: #000;
    font-size: 15px;
  }

  /* -- -------------------Styling the Home Page--------------------- -- */

  .main-page {
    background: url('images/desktop-homeBG.jpeg');
    padding: 140px 260px;
  }

  .home-page-details {
    margin: 0;
  }

  h1 {
    padding: 0;
  }

  h1,
  .about-myself-heading {
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
  }

  .about-me-text {
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .social-links-container {
    gap: 20px;
  }

  .social-links {
    padding-bottom: 0;
  }

  .social-links h2 {
    margin-bottom: 30px;
  }

  .home-margin-bottom {
    margin-bottom: 12px;
  }

  /* -- -------------------Styling the Works Page--------------------- -- */
  .work-section {
    gap: 142px;
  }

  .grid-item-1 {
    margin-top: 140px;
  }

  .grid-item {
    margin: 0 142px;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    padding: 24px;
  }

  .desktop-work-img {
    display: block;
  }

  .mobile-work-img {
    display: none;
  }

  .reorder-img {
    order: 1;
  }

  .line-break {
    display: none;
  }

  .work-title {
    font-size: 40px;
    line-height: 52px;
  }

  .h3-common-styles {
    font-size: 18px;
    line-height: 24px;
  }

  .work-role,
  .work-year {
    color: #6b778c;
    font-weight: 400;
    font-size: 18px;
  }

  .work-description {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .works-btns {
    margin-bottom: 28px;
  }

  .see-project-btn {
    background: var(--color-white);
  }

  /* -- -------------------Styling the About Myself Page--------------------- -- */
  .about-myself-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 142px;
  }

  .about-myself-details {
    padding-left: 0;
  }

  .about-myself-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .about-myself-text {
    font-size: 16px;
    line-height: 24px;
  }

  .about-myself-text,
  .social-links-heading,
  .social-links-container {
    margin-bottom: 18px;
  }

  .language-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }

  .list-item-icon {
    flex-direction: column;
    align-items: flex-start;
  }

  .list-item {
    margin-bottom: 0;
    padding: 18px;
  }

  .list-item,
  .list-item-icon {
    margin-bottom: 12px;
  }

  .languages-container {
    padding-bottom: 0;
  }

  /* -- -------------------Styling the Contact Page--------------------- -- */
  .contact-page {
    background-image: url('images/desktop-contact.png');
    padding: 142px 320px 127px 320px;
    background-size: contain;
    background-color: #6070ff;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form li input,
  .contact-form li textarea {
    border-radius: 0;
    margin-bottom: 27px;
    min-width: 447px;
  }

  .contact-form li textarea {
    padding: 15px 38px 15px 16px;
  }
}
